<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>How To...</title>
        <link rel="stylesheet" href="../public/style.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
            rel="stylesheet"
        >
    </head>

    <body>
        <div id="toolbar">
            <p name="javed">JavedPension</p>

            <div id="toolbar-rest">
                <div class="toolbar-option">About</div>
                <div class="toolbar-option">Categories</div>
                <div class="toolbar-option">Socials</div>
            </div>
        </div>

        <div id="data">
            <h2 id="title">How to?</h2>
        </div>
    </body>
</html>
